[package]
name = "rattler_installs_packages"
version = "0.1.0"
edition = "2021"
rust-version = "1.70"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.71"
bytes = "1.4.0"
ciborium = "0.2.1"
data-encoding = "2.4.0"
elsa = "1.8.1"
fs4 = "0.6.6"
futures = "0.3.28"
html5ever = "0.26.0"
http = "0.2.9"
http-cache-semantics = { version = "1.0.1", default-features = false, features = ["with_serde", "reqwest"] }
indexmap = "2.0.0"
miette = "5.9.0"
mime = "0.3.17"
once_cell = "1.18.0"
parking_lot = "0.12.1"
peg = "0.8.1"
pep440 = "0.2.0"
pin-project-lite = "0.2.10"
rattler_digest = { version = "0.6.0", features = ["serde"] }
regex = "1.9.1"
reqwest = { version = "0.11.18", features = ["json", "stream"] }
serde = "1.0.188"
serde_json = "1.0.100"
serde_with = "3.0.0"
smallvec = { version = "1.11.0", features = ["const_generics", "const_new"] }
string_cache = "0.8.7"
tempfile = "3.6.0"
thiserror = "1.0.43"
tokio = { version = "1.29.1" }
tokio-util = { version = "0.7.8", features = ["compat"] }
tracing = { version = "0.1.37", default-features = false, features = ["attributes"] }
url = { version = "2.4.0", features = ["serde"] }
zip = "0.6.6"

[dev-dependencies]
tokio = { version = "1.29.1", features = ["rt", "macros"] }
miette = { version = "5.9.0", features = ["fancy"] }
insta = { version = "1.30.0", features = ["ron"] }
once_cell = "1.18.0"
